<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.TODOListConnectionString"
            connectionString="Data Source=REDNOX\RW;Initial Catalog=TODOList;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>